ul {
    background-color: #DBE0E7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 20px;
    list-style-type: none;
}

.logo {
    width: 400px;
}

.linksNavbar {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    margin: auto 15px;
}